* {
	box-sizing: border-box;
}
.App {

}

h2, .logo{
	vertical-align: middle;
	display: inline-block;
}
h2 {
	margin: 0;
	padding: 0;
}

.logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	padding: 5px;
	color: white;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
